spring:
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
#    username: ${DB_USERNAME}
    password: 123
#    password: ${DB_PASSWORD}
    url: jdbc:postgresql://localhost:5432/demo
#    url: ${DB_URL}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL94Dialect
    hibernate:
      ddl-auto: none
    show-sql: true
    database: postgresql

server:
  servlet:
    context-path: /demo
  port: 8080

logging:
  level:
    ROOT: INFO
    liquibase: INFO
    org.springframework:
      boot: INFO
      web: INFO
